<h1 mat-dialog-title align="center">Task creation</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="task-form">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Title and description</ng-template>
        <mat-form-field class="header" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field class="description" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="secondCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="DeadLine and executor">
      <form [formGroup]="secondFormGroup">
        <div class="deadLine-and-executor">
          <mat-form-field class="second-input" appearance="outline">
            <mat-label>Due Date</mat-label>
            <input matInput  [min]="minDate" [matDatepicker]="picker" formControlName="thirdCtrl" placeholder="MM-DD-YYYY" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon class="icon" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="third-input" appearance="outline">
            <mat-label>Assignee</mat-label>
            <input matInput required formControlName="fourthCtrl">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="createTask()">Create</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="final-message">
        <p *ngIf="!errorMessage">You created task!</p>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </div>
      <div>
        <button mat-button matStepperPrevious *ngIf="errorMessage">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</div>