<title>Profile</title>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <ngb-alert class="col-12 mb-3" type="warning" [dismissible]="false" *ngIf="!emailConfirmed">
                Your email address has not been confirmed.
                <span class="send-confirm-link" (click)="sendEmailConfirmationLink()">Click here to resend confirmation link</span>.
            </ngb-alert>
            <ngb-alert class="col-12" type="danger" [dismissible]="false" *ngIf="errors.length != 0" >
                <ul class="mb-0">
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </ngb-alert>
            <form [formGroup]="form" (ngSubmit)="updateProfile()">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" formControlName="surname">
                    <mat-error *ngIf="form.get('surname').invalid">Surname is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="form.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
                </mat-form-field>
                <div class="row px-3">
                    <button type="button" 
                        class="btn btn-primary mr-3"
                        (click)="openPasswordChangeDialog()">Change password</button>
                    <button type="button" 
                        class="btn btn-danger"
                        (click)="openUserDeleteDialog()">Delete account</button>
                    <button type="submit" 
                        class="btn btn-success ml-auto">Update profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
