@import '/src/variables.scss';

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav {
    background-color: $black-color !important;
    color: $white-color !important;
}

a {
    color: $white-color !important;
}

a.navbar-brand {
    padding-left: 40px;
    background-image: url(../../assets/images/app_icon.svg);
    background-position-x: 0;
    background-position-y: center;
    background-repeat: no-repeat;
}

.link-active a {
    font-weight: bold;
    color: $active-color !important;
}

.dropdown-menu {
    // background-color: $black-color !important;
    color: $black-color !important;
}

.dropdown-item {
    color: $black-color !important;
}

.nav-item.dropdown.link-active .dropdown-item {
    color: $black-color !important;
    font-weight: unset !important;
}

.dropdown-item:hover {
    background-color: $body-color !important;
}