<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3"
    >
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Task Management System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isLoggedId">
                <a class="nav-link" [routerLink]="['/login']">Log In</a>
            </li>
            <li class="mt-2" style="color: gray;" *ngIf="!isLoggedId">or</li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isLoggedId">
              <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedId">
              <a class="nav-link" (click)="logout()" style="cursor: pointer;">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  