a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav {
    background-color: #000 !important;
    color: #fff !important;
}

a {
    color: #fff !important;
}

a.navbar-brand {
    padding-left: 40px;
    background-image: url(../../images/app_icon.svg);
    background-position-x: 0;
    background-position-y: center;
    background-repeat: no-repeat;
}