@import '/src/variables.scss';
@import '/src/module-styles-overriding.scss';

select.form-control {
    box-shadow: none !important;
}

.task {
    background-color: $white-color;
    border: 1px solid $black-color;
    border-radius: 7px;
}

.task-main-info {
    word-break: break-all;
}

a {
    color: unset;
    text-decoration: none;
}
