<title>Tasks</title>
<div class="container-fluid pt-2" style="padding-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="mat-display-1 mb-0">Tasks</h1>
        </div>
        <div>
            <app-task-create></app-task-create>
        </div>
    </div>
    <div class="task-content">
        <div class="row justify-content-center">
            <div class="task col-10 mt-3 p-0" *ngFor="let task of pageTasks">
                <div class="task-header px-3 py-2">
                    <p class="mb-1 fs-18">{{ task.title }}</p>
                    <p class="mb-0 fs-17">{{ task.executorName }}</p>
                    <div class="context-menu-content" *ngIf="!isExecutor">
                        <button class="context-menu-toggle" 
                            id="context-menu-dropdown" 
                            data-toggle="dropdown" 
                            aria-haspopup="true"
                            aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right mt-1"
                            aria-labelledby="context-menu-dropdown">
                            <button class="dropdown-item">Edit</button>
                            <button class="dropdown-item" (click)="deleteTask(task.id)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="task-body px-3 py-2">
                    <p class="fs-17">{{ task.description }}</p>
                    <p class="fs-17"><b>Due date: </b>{{ task.deadline }}</p>
                </div>
            </div>
        </div>
    </div>
    <app-pagination class="pt-3" 
        [collectionSize]="taskCount"
        [pageSize]="pageSize"
        [pageNumber]="pageNumber"
        (pageSizeChange)="onPageSizeChange($event)"
        (pageChange)="onPageChange($event)"
        ></app-pagination>
</div>
