<h1 mat-dialog-title align="center">Task editing</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="task-form">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Title and description</ng-template>
        <mat-form-field class="header" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field class="description" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="secondCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Due date and assignee">
      <form [formGroup]="secondFormGroup">
        <div class="deadLine-and-executor">
          <mat-form-field class="second-input" appearance="outline">
            <mat-label>Due Date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="thirdCtrl"
              placeholder="MM-DD-YYYY" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="third-input" appearance="outline">
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="fourthCtrl" disableOptionCentering>
              <mat-option *ngFor="let executor of Executors" [value]="executor.id">
                {{executor.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <button class=" btn-dark " mat-raised-button matStepperPrevious>Back</button>
          </div>
          <div class="col-10">
            <button mat-raised-button color="primary" matStepperNext (click)="thirdstep()">Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Attachments</ng-template>
      <div>
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" multiple="true">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <button mat-stroked-button color="primary" (click)="openFileSelector()">Browse Files</button>
              <span> or drop files here</span>
            </ng-template>
        </ngx-file-drop>
        <div class="row">
          <div class="col">
            <p></p>
            <h2 *ngIf="files.length">Attached files:</h2>
            <h3 *ngIf="files.length === 0">This task has no attachments!</h3>
            <div class="upload-table">
              <table class="table">
                <tbody class="upload-name-style">
                  <tr *ngFor="let file of files; let i=index">
                    <td><strong>{{ file.name }}</strong><button (click)="deleteFileFromForm(file.id)" mat-icon-button>
                            <mat-icon>clear</mat-icon>
                          </button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
          <div class="col">
            <p></p>
            <h2 *ngIf="Newfiles.length">New files:</h2>
            <div class="upload-table">
              <table class="table">
                  <thead>
                      <tr>
                      </tr>
                  </thead>
                  <tbody class="upload-name-style">
                      <tr *ngFor="let item of Newfiles; let i=index">
                          <td><strong>{{ item.relativePath }}</strong><button (click)="deleteNewFile(item.relativePath)" mat-icon-button>
                            <mat-icon>clear</mat-icon>
                          </button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
        </div>
        <div>
      </div>
        <button mat-raised-button  class=" btn-dark " matStepperPrevious (click)=" isThirdStep=false">Back</button>
          </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions align="end" class="row pb-3 pr-3">
  <button class="btn-dark" mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button class="btn-success" (click)="editTask()" [mat-dialog-close]="true"
    *ngIf="isThirdStep">Save</button>
</div>