<h1 mat-dialog-title align="center">Task editing</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="task-form">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Title and description</ng-template>
        <mat-form-field class="header" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field class="description" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="secondCtrl" required ></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Due date and assignee">
      <form [formGroup]="secondFormGroup">
        <div class="deadLine-and-executor">
          <mat-form-field class="second-input" appearance="outline">
            <mat-label>Due Date</mat-label>
            <input matInput   [min]="minDate" [matDatepicker]="picker" formControlName="thirdCtrl" placeholder="MM-DD-YYYY" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="third-input" appearance="outline">
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="fourthCtrl" disableOptionCentering>
              <mat-option *ngFor="let executor of Executors" [value]="executor.id">
                {{executor.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="isThirdStep=true">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-button matStepperPrevious (click)="isThirdStep=false">Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="editTask()"[mat-dialog-close]="true" *ngIf="isThirdStep">Save</button>
</div>