<title>Sign Up</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center mt-5">
            <img src="../../assets/images/main_image.svg" alt="">
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8" style="position: absolute;">
                    <ngb-alert *ngIf="errors.length != 0" class="col-12" type="danger" [dismissible]="false">
                        <ul class="mb-0">
                            <li *ngFor="let error of errors">{{error}}</li>
                        </ul>
                    </ngb-alert>
                </div>
                <div class="col-8" style="margin-top: 13vh;">
                    <div class="col-12 text-center">
                        <p style="font-size: 30px; font-weight:500;">Sign Up</p>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="signup()">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" style="width: 100%;" formControlName="name" required> 
                            <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput type="text" type="text" formControlName="surname" required>  
                            <mat-error *ngIf="form.get('password').invalid">Surname is required</mat-error>
                        </mat-form-field> 
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" style="width: 100%;" formControlName="email" required> 
                            <mat-error *ngIf="form.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="text" type="password" formControlName="password" required>  
                            <mat-error *ngIf="form.get('password').invalid">Password is required</mat-error>
                        </mat-form-field> 
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm password</mat-label>
                            <input matInput type="text" 
                                type="password" 
                                formControlName="passwordConfirm"
                                [pattern]="form.get('password').value" 
                                required>  
                            <mat-error *ngIf="form.get('passwordConfirm').invalid">{{ getPasswordConfirmErrorMessage() }}</mat-error>
                        </mat-form-field>
                        <button type="submit" 
                            class="btn form-control btn-success mt-1"
                            [disabled]="form.invalid">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>