<title>Log In</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center mt-5">
            <img src="../../assets/images/main_image.svg" alt="">
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8" style="position: absolute; top: 13vh">
                    <ngb-alert *ngIf="errors.length != 0" class="col-12" type="danger" [dismissible]="false">
                        <ul class="mb-0">
                            <li *ngFor="let error of errors">{{error}}</li>
                        </ul>
                    </ngb-alert>
                </div>
                <div class="col-8" style="margin-top: 20vh;">
                    <div class="col-12 text-center">
                        <h1>Log In</h1>
                    </div>
                    <form (ngSubmit)="login()" #form="ngForm">
                        <input type="text" class="form-control mt-2" 
                            name="email" 
                            placeholder="Email"
                            ngModel
                            > 
                        <input type="text" class="form-control mt-2" 
                            type="password"
                            name="password" 
                            placeholder="Password"
                            ngModel
                            >      
                        <button type="submit" class="btn form-control btn-success mt-2">Log In</button>
                    </form>
                    <div class="col-12 text-center">
                        <h3 class="mt-1"><a class="reset-password-link" href="">Forgotten password?</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
