@import '/src/variables.scss';
@import '/src/angular-material-overriding.scss';

.reset-password-link {
    color: $black-color;
    text-decoration: underline;
}

.reset-password-link:hover {
    color: $active-color;
}

.mat-form-field {
    width: 100% !important;
}