@import '/src/variables.scss';

.task-body {
    word-break: break-all;
}

.blue-color {
    color: $active-color;
}

.gray-color {
    color: $border-color;
}

.comments-content {
    background-color: $white-color;
    border-radius: 10px;
}

