<title>Reset password</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center mt-5">
            <img src="../../assets/images/main_image.svg" alt="">
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8" style="margin-top: 15vh;">
                    <div class="col-12 text-center">
                        <p style="font-size: 30px; font-weight:500;">Reset password</p>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="resetPassword()">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" required> 
                            <mat-error *ngIf="form.get('password').invalid">Password is required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Confirm password</mat-label>
                            <input matInput 
                                type="password" 
                                formControlName="passwordConfirm" 
                                [pattern]="form.get('password').value"
                                required>  
                            <mat-error *ngIf="form.get('passwordConfirm').invalid">{{ getPasswordConfirmErrorMessage() }}</mat-error>
                        </mat-form-field>
                        <button type="submit" 
                            class="btn form-control btn-success mt-1"
                            [disabled]="form.invalid">Reset</button>
                    </form>
                </div>
                <div class="col-8 mt-2">
                    <ngb-alert *ngIf="errors.length != 0" class="col-12" type="danger" [dismissible]="false">
                        <ul class="mb-0">
                            <li *ngFor="let error of errors">{{error}}</li>
                        </ul>
                    </ngb-alert>
                </div>
            </div>
        </div>
    </div>
</div>
