<form [formGroup]="filtersForm">
    <div class="row">
        <div class="dropdown col-8 p-0">
            <button class="menu-toggle filters-menu-toggle" 
                (click)="toggleFiltersMenu()"
                [ngClass]="{ 'active-btn': displayFiltersMenu }">
                Filters
                <span class="badge badge-active" 
                    *ngIf="filterApplied && !displayFiltersMenu">
                    {{ appliedFilterCount }}</span>
            </button>
            <div class="col-5 ml-2 dropdown-menu dropdown-menu-left filters-menu-content"
                aria-labelledby="filters-menu"
                *ngIf="displayFiltersMenu">
                <div class="row justify-content-center pt-3">
                    <button type="button" 
                        class="close filters-menu-close"
                        (click)="toggleFiltersMenu()">
                        <span>&times;</span>
                    </button>
                    <mat-form-field appearance="outline" style="width: 75%;">
                        <mat-label>Status</mat-label>
                        <mat-select (selectionChange)="onFilterApply()" 
                            multiple
                            formControlName="statusIds">
                          <mat-option *ngFor="let status of statuses" [value]="status.id">
                              {{ status.name }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 75%;">
                        <mat-label>Due date until</mat-label>
                        <input matInput [matDatepicker]="picker"
                            (dateInput)="onFilterApply()"
                            formControlName="deadline">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 75%;" *ngIf="!isExecutor">
                        <mat-label>Executor</mat-label>
                        <mat-select (selectionChange)="onFilterApply()" formControlName="executorId">
                            <mat-option [value]="null">Any</mat-option>
                            <mat-option *ngFor="let executor of executors" [value]="executor.id">
                                {{ executor.fullName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <input type="text" 
            class="form-control search-input ml-auto" 
            formControlName="title">
        <button type="button"
            class="btn btn-success search-btn" 
            (click)="onFilterApply()">Search</button>
    </div>
</form>