@import '/src/variables.scss';

::ng-deep  .mat-form-field-outline {
    background-color: $white-color;
}

::ng-deep .mat-form-field-subscript-wrapper {
    font-size: 90%;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick  {
    color: $active-color;   
}

::ng-deep mat-dialog-container, ::ng-deep mat-horizontal-stepper {
    background-color: $body-color !important;
}

::ng-deep .toast-top-right {
    top: 60px !important;
}

::ng-deep .toast-success {
    background-color: $green-color;
}
