@import './variables.scss';

body {
    background-color: $body-color !important;
}

input, button {
    box-shadow: none !important;
}

input.form-control {
    height: 40px;
}

button.active-btn {
    background-color: $active-color !important;
}

.btn.btn-green {
    background-color: $green-color;
    color: $white-color;
    font-weight: bold;
}

.btn.btn-success {
    background-color: $green-color;
    color: $white-color;
    font-weight: bold;
}

.btn {
    height: 45px !important;
}

.btn.btn-green:hover {
    color: $white-color;
    background-color: $hover-green-color;
}

.btn.btn-green:focus {
    color: $white-color;
    background-color: $hover-green-color;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid $red-color;
}

.error-text {
    color: $red-color;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.badge.badge-active {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $active-color;
    border-radius: 50%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
