$black-color: #011627;
$active-color: #2E5EAA;
$white-color: #ffff;
// $body-color: #fcfcef;
// $body-color: #f3f3eb;
$body-color: rgb(252, 249, 249);
$green-color: #02C038;
$hover-green-color: green;
$red-color: red;
$dark-red-color: rgb(190, 13, 13);
$border-color: #656565;