$black-color: #011627;
$active-color: #247BA0;
$white-color: #ffff;
$body-color: #EDEDE6;
$green-color: #02C038;
$hover-green-color: green;
$red-color: red;
$dark-red-color: rgb(190, 13, 13);
$border-color: #656565;