<title>Email confirmation</title>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 fs-18" 
            *ngIf="!result; else confirmationResult">
            Confirming...
        </div>
        <ng-template #confirmationResult>
            <ngb-alert class="col-10 fs-18" 
                type="success" 
                [dismissible]="false" 
                *ngIf="succeeded; else confirmationError">
                {{ result }}
            </ngb-alert>
            <ng-template #confirmationError>
                <ngb-alert class="col-10 fs-18" type="danger" [dismissible]="false">
                    {{ result }}
                </ngb-alert>
            </ng-template>
        </ng-template>
    </div>
</div>