<title>Login</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center mt-5">
            <img src="../../assets/images/main_image.svg" alt="">
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8 text-center" style="margin-top: 10vh;">
                    <h2>Sign Up</h2>
                    <!-- <form (ngSubmit)="login()" #form="ngForm"> -->
                    <input type="text" class="form-control mt-2" name="name" placeholder="Name"> 
                    <input type="text" class="form-control mt-2" name="surname" placeholder="Surname">    
                    <input type="text" class="form-control mt-2" name="email" placeholder="Email">      
                    <input type="password" class="form-control mt-2" name="password" placeholder="Password">  
                    <input type="password" class="form-control mt-2" name="password-confirm" placeholder="Confirm password">      
                    <button type="submit" class="btn form-control btn-green mt-2">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>