<h2 mat-dialog-title>User creating</h2>
<mat-dialog-content class="mat-typography">
    <div class="row justify-content-center">
        <div class="col-9">
            <ngb-alert *ngIf="errors.length != 0" class="col-12" type="danger" [dismissible]="false">
                <ul class="mb-0">
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </ngb-alert>
            <form id="user-creating-form" [formGroup]="form" (ngSubmit)="create()">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" style="width: 100%;" formControlName="name" required> 
                    <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" type="text" formControlName="surname" required>  
                    <mat-error *ngIf="form.get('surname').invalid">Surname is required</mat-error>
                </mat-form-field> 
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" style="width: 100%;" formControlName="email" required> 
                    <mat-error *ngIf="form.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Selet a role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('role').invalid">Role is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" type="password" formControlName="password" required>  
                    <mat-error *ngIf="form.get('password').invalid">Password is required</mat-error>
                </mat-form-field> 
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="text" 
                    type="password" 
                    formControlName="passwordConfirm" 
                    [pattern]="form.get('password').value"
                    required>  
                    <mat-error *ngIf="form.get('passwordConfirm').invalid">{{ getPasswordConfirmErrorMessage() }}</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" 
        style="width: 100px;"
        class="btn btn-dark mr-2" 
        mat-dialog-close
        #dialogCloseBtn>Cancel</button>
    <button type="submit"
        form="user-creating-form" 
        class="btn btn-success"
        [disabled]="form.invalid"
        style="width: 170px;">Create</button>
</mat-dialog-actions>