<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">User creating</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body pb-4">
        <div class="row justify-content-center">
            <div class="col-9">
                <ngb-alert *ngIf="errors.length != 0" class="col-12" type="danger" [dismissible]="false">
                    <ul class="mb-0">
                        <li *ngFor="let error of errors">{{error}}</li>
                    </ul>
                </ngb-alert>
                <form id="user-creating-form" (ngSubmit)="create(form)" #form="ngForm">
                    <input type="text" 
                        class="form-control mt-2" 
                        name="name" 
                        placeholder="Name"
                        required
                        ngModel
                        #name="ngModel"
                        ngbPopover="Required!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover1="ngbPopover"
                        (blur)="name.invalid ? popover1.open() : popover1.close();"> 
                    <input type="text" 
                        class="form-control mt-2" 
                        name="surname" 
                        placeholder="Surname"
                        required
                        ngModel
                        #surname="ngModel"
                        ngbPopover="Required!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover2="ngbPopover"
                        (blur)="surname.invalid ? popover2.open() : popover2.close();">    
                    <input type="text" 
                        class="form-control mt-2" 
                        name="email" 
                        placeholder="Email"
                        email
                        required
                        ngModel
                        #email="ngModel"
                        ngbPopover="Email is invalid!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover3="ngbPopover"
                        (blur)="email.invalid ? popover3.open() : popover3.close();"> 
                    <select class="form-control mt-2" 
                        name="role" 
                        required
                        ngModel
                        #role="ngModel"
                        ngbPopover="Required!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover6="ngbPopover"
                        (blur)="role.invalid ? popover6.open() : popover6.close();">
                        <option value="" hidden [attr.selected]="true">Role</option>
                        <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                    </select>
                    <input type="password" 
                        class="form-control mt-2" 
                        name="password" 
                        placeholder="Password"
                        required
                        ngModel
                        #password="ngModel"
                        ngbPopover="Required!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover4="ngbPopover"
                        (blur)="password.invalid ? popover4.open() : popover4.close();">  
                    <input type="password" 
                        class="form-control mt-2" 
                        name="passwordConfirm" 
                        placeholder="Confirm password"
                        required
                        ngModel
                        #passwordConfirm="ngModel"
                        [pattern]="password.value"
                        ngbPopover="Password confirmation is required!" 
                        placement="left"
                        triggers="manual"
                        autoClose="inside"
                        #popover5="ngbPopover"
                        (blur)="passwordConfirm.invalid ? popover5.open() : popover5.close();">     
                    <!-- <button type="submit" 
                        class="btn form-control btn-success mt-2"
                        [disabled]="form.invalid">Create</button> -->
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.close('Close click'); errors = []">Cancel</button>
      <button type="submit" 
        form="user-creating-form" 
        class="btn btn-success"
        [disabled]="form.invalid"
        style="width: 170px;">Create</button>
    </div>
</ng-template>
    