<h2 mat-dialog-title>Profile updating</h2>
<mat-dialog-content class="mat-typography">
    <div class="row justify-content-center">
        <div class="col-11">
            <form id="user-updating-form" [formGroup]="form" (ngSubmit)="updateUser()">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required> 
                    <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" type="text" formControlName="surname" required>  
                    <mat-error *ngIf="form.get('surname').invalid">Surname is required</mat-error>
                </mat-form-field> 
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" style="width: 100%;" formControlName="email" required> 
                    <mat-error *ngIf="form.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="col-12 mb-1">
        <div class="row justify-content-center">
            <button type="button" 
                style="width: 150px;"
                class="btn btn-dark mr-2" 
                mat-dialog-close>Cancel</button>
            <button type="submit"
                form="user-updating-form" 
                class="btn btn-success"
                [disabled]="form.invalid"
                style="width: 150px;">Update profile</button>
        </div>
    </div>
</mat-dialog-actions>